


	<div>
		<label for="name"> Name </label>
		<input type="text" id="name" name="name" value="<%= pet.name %>" />
	</div>
	<div>
		<label for="age"> Age </label>
		<input type="number" id="age" name="age" value="<%= pet.age %>" />
	</div>
	<div>
		<label for="type"> Type </label>
		<input type="text" id="type" name="type" value="<%= pet.type %>" />
	</div>
	<div>
		<label for="breed"> Breed </label>
		<input type="text" id="breed" name="breed" value="<%= pet.breed %>" />
	</div>
	<div>
		<label for="gender"> Gender </label>
		<input type="text" id="gender" name="gender" value="<%= pet.gender %>" />
	</div>
	<div>
		<label for="bio"> Bio </label>
		<input type="text" id="bio" name="bio" value="<%= pet.bio %>" />
	</div>
	<div>
		<label for="profilePicture"> Profile Picture </label>
		<input type="text" id="profilePicture" name="profilePicture" value="<%= pet.profilePicture %>" />
	</div>
	

