This is our pets INDEX page. It will list all of our pets.


<% pets.forEach(function(pet) { %>

<dl>
	<dt><a href="/pets/<%= pet.id %>"> Name </a></dt><dd><%= pet.name %></dd>
	<dt> Gender </dt><dd><%= pet.gender %></dd>
	<dt> Type </dt><dd><%= pet.type %></dd>
	<dt> Breed </dt><dd><%= pet.breed %></dd>
	<dt> Age </dt><dd><%= pet.age %></dd>
	<dt> Bio </dt><dd><%= pet.bio %></dd>
</dl>

	<li><a href="/pets/<%= pet._id %>/edit"><button>Edit</button></a></li>

	<li><form method="POST" action="/pets/<%= pet._id %>?_method=DELETE">
  	<button type="submit">Delete</button>
	</form></li>
<% }) %>
