<h2> My Pets </h2>


<% pets.forEach(function(pet) { %>

<div class="media">
	<div class="media-left">
		<div class="card" style="min-width:200px">
			<img class="media-object card-img-top img-responsive center-block" src="<%= pet.profilePicture %>" style="max-width:70%,max-height:70%">
		<div class="card-block">
			<h4 class="card-title center-block">
				<a href="/pets/<%= pet.id %>"><%= pet.name %></a>
			</h4>
		</div>
		
		</div>
	</div>
	<div class="media-body">
		<h4 class="media-head">
			About <%= pet.name %>
		</h4>
		<ul class="list-group">
			<li class="list-group-item">
				Type: <%= pet.type %> 
			</li>
			<li class="list-group-item">
				Breed: <%= pet.breed %> 
			</li>
			<li class="list-group-item">
				Gender: <%= pet.gender %> 
			</li>
			<li class="list-group-item">
				Age: <%= pet.age %> 
			</li>
			<li class="list-group-item"> Summary:  <%= pet.bio %> </li>
		</ul>
	</div>
	
</div>	
<div class="btn-group">
	<a href="/pets/<%= pet._id %>/edit">
		<button class="btn btn-info">Edit</button></a>
	<a href="/pets/<%= pet._id %>/posts/new">
		<button class="btn btn-info"> Make a New Post </button></a>
	<a href="/pets/new"> 
		<button class="btn btn-primary">Create a New Pet </button></a>
</div>
<% }) %>
