
This is the posts index page
<% posts.forEach(function(post) { %>

  <dl>
    <dt>Name<a href="/pets/<%= post.pet.id %>">
    <dd><%= post.pet.name %></dd>
    </a>
    </dt>
    <dd><%= post.pet.breed %></dd>
    </dt>
    <dd><%= post.pet.type %></dd>
    </dt>
    <dt> Title </dt> <dd><%= post.title %> </dd>
    <dt> Post </dt> <dd><%= post.text %> </dd>
    <dt> Pic </dt> <dd><%= post.postPicture %> </dd>
  </dl>

    Comments:
    <ul id="comments">
    </ul>


  <form id="new-comment" action="/posts" method="post">
    <input type="text" name="commentText" id="comment-text" placeholder="Make a comment!" value="">
    <select name="pet" id="comment-pet">
      <% currentUser.pets.forEach(function(pet) { %>
        <option value="<%= pet.name %>"> <%= pet.name %> </option>
      <% }); %>
    </select>
    <input type="submit" value="Comment">
  </form>



<% }) %>

