<% posts.forEach(function(post) { %>
<h1 style="text-align: center">Post:</h1>
<div class="media" style="border: 3px solid #ddd; padding: 8px; max-width:1000px; margin: 0 auto; background-color: #99ddff">
  <div class="media-left">
    <div class="card" style="min-width:175px">
      <img class="card-img-top img-thumbnail img-responsive center-block" src="<%= post.pet.profilePicture %>">
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="card-title">
            <%= post.pet.name %>
            </h4>
          </li>
          <li class="list-group-item">
            <%= post.pet.breed %>
          </li>
          <li class="list-group-item">
            <%= post.pet.type %>
          </li>
          <li class="list-group-item">
            Age: <%= post.pet.age %>
          </li>
<!--       <li class="list-group-item">
      <button id="purr" type="button" onclick="givePurr()" class="btn btn-success"> Purr?
      <span class="label label-info" id="purrCount">8</span>
      </button>
      </li>
      <li class="list-group-item">
      <button type="button" onclick="giveGrr" class="btn btn-danger"> Grrr?
      <span class="label label-info" id="grrCount">8</span>
      </button>
     </li>  -->
        </ul>
     </div>
    </div>
  </div>
  <div class="media-body" style="max-height:650px">
    <h4 class="media-heading"> <%= post.title %> </h4>
    <p class="text-muted" style="padding:5px"> Posted by <%= post.pet.name %> at <%= post.createdAt %> </p>
    <img class="media-object img-responsive" style="max-width:70%; max-height:70%" src="<%= post.postPicture %>">
    <div style="padding:5px">
      <%= post.text %>
    </div>
  </div>
</div>

<h3 style="text-align: center">Comments:</h3>
<% if (post.comments) { %>
<% post.comments.forEach(function(comment) { %>
<div class="media" style="border: 3px solid #ddd; padding: 8px; max-width:1000px; margin: 0 auto; background-color: #99ddff">
  <div class="media-left">
    <div class="card" style="min-width:175px">
      <img class="card-img-top img-thumbnail img-responsive center-block" src="<%= comment.pet.profilePicture %>">
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item">
            <%= comment.pet.name %>
          </li>
          <li class="list-group-item">
            <%= comment.pet.breed %>
          </li>
          <li class="list-group-item">
            <%= comment.pet.type %>
          </li>
          <li class="list-group-item">
            Age: <%= comment.pet.age %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="media-body">
    <div style="padding:5px">
    <%= comment.commentText %>
    </div>
  </div>
</div>
<% }); %>
<% } %>

<div class="media" style="border: 3px solid #ddd; padding: 8px; max-width:1000px; margin: 0 auto; background-color: #FFB6C1">
  <div class="form-group" style="padding: 10px;">
  <form method="post" action="/posts/<%= post._id %>/comment">
    <input class="form-control" type="text" name="commentText" id="comment-text" placeholder="Make a comment!" value="" style="padding: 10px; margin: 10px">
    Comment as:
    <select class="selectpicker" name="pet">
      <% currentUser.pets.forEach(function(pet) { %>
        <option value="<%= pet.id %>" style="margin: 10px" > <%= pet.name %> </option>
      <% }); %>
    </select>
    <input type="submit" value="Comment" style="padding: 10px">
  </form>
  </div>
</div>



<% }); %>

