<% posts.forEach(function(post) { %>

  <dl>
    <dt>Name<a href="/pets/<%= :id %>"><dd><%= post.pet.name %></a></dd>
    </dt>
    <dt> Title </dt> <dd><%= post.title %> </dd>
    <dt> Post </dt> <dd><%= post.text %> </dd>
    <dt> Pic </dt> <dd><%= post.postPicture %> </dd>
  </dl>

<% }) %>
